<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="css/loginstyles.css">
</head>
<body>
    <div class="logindiv">
        <h1 class="login">Log in</h1>
        <form action="" method="post" class="form">
            <input type="number" class="fid" name="fid" placeholder="Enter your user id">
            <br>
            <input type="text" class="fpass" name="fpass" placeholder="Enter Your Password">
            <br>
            <button type="submit" class="sbutton">Login</button>
        </form>
    </div>
</body>
</html>