*{
  font-family: 'Arial', sans-serif;
  
  background-color: #f4f4f4;
}

.logindiv{
    margin-top: 15%;
    height: ;
}
.login{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.form{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fid{
    height: 1.5rem;
    margin: 0.7%;
    text-align: center;
}
.fpass{
    height: 1.5rem;
    margin: 0.7%;
    text-align: center;
}
.sbutton{
    font-size: 1.33rem;
}